@tailwind base;
@tailwind components;
@tailwind utilities;


table tr:hover {
  background-color: rgb(229 231 235);
}

.visibility-hoverable-container .hoverable-visibility-content{
  visibility: hidden;
}

.visibility-hoverable-container:hover .hoverable-visibility-content{
  visibility:visible;
}

::selection {
    color: #ffffff;
    background-color: #1d2861;
  }